body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #f5f5f5;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.limited-content {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    height: calc(100vh - 163px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.license-form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 5px;
}

.license-form label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.license-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.license-form input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.license-form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.license-form button:hover {
    background-color: #0056b3;
}

.license-list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.info-text {
    font-size: 14px;
    color: #675a5a;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.allAvailableLicensesContainer {
    background-color: #f5f5f5;
    box-shadow: 0 -2px 4px rgba(0, 0, 0);
    text-align: center;
    font-size: 14px;
    color: #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.footer {
    background-color: #f5f5f5;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 4px rgba(0, 0, 0);
    text-align: center;
    font-size: 14px;
    color: #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

.footer-text {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}